<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{ title }}{% endblock %}</title>
  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="stylesheet" href="/public/css/highlight.css"
</head>
<body>
  <header>
    <nav>
      <a href="/" class="logo">Will Morrison</a>
      <ul>
        <li><a href="/blog">Blog</a></li>
        <li><a href="https://github.com/morrisonwill" target="_blank" rel="noopener noreferrer">GitHub</a></li>
        <li><a href="mailto:will@willmorrison.com">Email</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

</body>
</html>

