<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{ title }}{% endblock %}</title>
  {% if frontmatter and frontmatter.description %}<meta name="description" content="{{ frontmatter.description }}">{% endif %}
  <style>{{ styleCSS | safe }}</style>
  <style>{{ highlightCSS | safe }}</style>
</head>
<body>
  <header>
    <nav>
      <a href="/" class="logo">Will Morrison</a>
      <ul>
        <li><a href="/blog">Blog</a></li>
        <li><a href="https://github.com/morrisonwill" target="_blank" rel="noopener noreferrer">GitHub</a></li>
        <li><a href="mailto:will@willmorrison.com">Email</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

</body>
</html>

